# Files to ignore when considering what GIT should commit.

# Source of compiler
project/*
release/*
build/chrome/*
build/opera/*
/a/*
/debug/*

*.crx
*.nex
/nbproject/*
*.sublime-workspace

node_modules/*
