# Files to ignore when considering what GIT should commit.

# Source of compiler
project/*
release/*
debug/*

# IDE files
*.sublime-workspace
nbproject/*

# Result files
*.nex
*.crx

# npm
node_modules/*
