
.ic_officialg {
	background-image: url(chrome-extension://__MSG_@@extension_id__/img/icon.png);
}

#OKCH_themes, #OKCH_themes2 {
	margin-top: 2px;
	position: relative;
	min-height: 590px;
	background-color: #EFEFEF;
	padding-bottom: 20px;
}

.infothemes {
	padding: 30px;
	font-size: 16px;
}

#fake-toolbar, .fake-toolbar-ok, .fake-toolbar-mail {
	display:none;
}